#sessionmanager-menu menuitem[_id="windows"],
#sessionmanager-toolbar menuitem[_id="windows"],
#sessionmanager-undo menuitem[_id="windows"],
#sessionmanager-menu menuitem[_id="tabs"],
#sessionmanager-toolbar menuitem[_id="tabs"],
#sessionmanager-undo menuitem[_id="tabs"] {
	font-size: 80%;
}

#sessionmanager-menu menuitem[marked="true"],
#sessionmanager-toolbar menuitem[marked="true"] {
	font-weight: bold;
}

#sessionmanager-toolbar,
#sessionmanager-undo {
	list-style-image: url("chrome://sessionmanager/skin/toolbar.png");
}

#sessionmanager-toolbar {
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}
#sessionmanager-undo {
	-moz-image-region: rect(0px, 48px, 24px, 24px);
}
#sessionmanager-undo[disabled="true"] {
	-moz-image-region: rect(0px, 72px, 24px, 48px);
}

toolbar[iconsize="small"] #sessionmanager-toolbar {
	-moz-image-region: rect(24px, 16px, 40px, 0px);
}
toolbar[iconsize="small"] #sessionmanager-undo {
	-moz-image-region: rect(24px, 40px, 40px, 24px);
}
toolbar[iconsize="small"] #sessionmanager-undo[disabled="true"] {
	-moz-image-region: rect(24px, 64px, 40px, 48px);
}

/* Dougeebear's newer icon for Session Manager - overrides above */
#sessionmanager-toolbar {
	list-style-image: url("chrome://sessionmanager/skin/dougeeebear.png");
	-moz-image-region: rect(8px, 56px, 32px, 32px);
}
toolbar[iconsize="small"] #sessionmanager-toolbar {
	-moz-image-region: rect(15px, 72px, 31px, 56px);
}

/* Make closed tabs have icons, but not display entire graphic for images */
.sessionmanager-closedtab-item > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
  -moz-padding-start: 0px;
}

/* Latest session is blue */
#sessionmanager-menu menuitem[latest="true"],
#sessionmanager-toolbar menuitem[latest="true"],
treechildren::-moz-tree-cell-text(latest),
#session_list listitem[latest="true"] {
	color: blue;
}

/* Adjust to light blue when highlited */
#sessionmanager-menu menuitem[latest="true"][_moz-menuactive="true"],
#sessionmanager-toolbar menuitem[latest="true"][_moz-menuactive="true"],
treechildren::-moz-tree-cell-text(latest, selected, focus),
#session_list:focus listitem[latest="true"][selected="true"] {
	color: lightblue;
}

/* Autosave sessions are bold */
#sessionmanager-menu menuitem[autosave="session"],
#sessionmanager-toolbar menuitem[autosave="session"],
treechildren::-moz-tree-cell-text(session),
#session_list listitem[autosave="session"] {
	font-weight: bold;
}

/* Window Autosave sessions are bold green */
#sessionmanager-menu menuitem[autosave="window"],
#sessionmanager-toolbar menuitem[autosave="window"],
treechildren::-moz-tree-cell-text(window),
#session_list listitem[autosave="window"] {
	font-weight: bold;
	font-style: oblique;
}

/* Disabled sessions are gray */
#sessionmanager-menu menuitem[disabled="true"],
#sessionmanager-toolbar menuitem[disabled="true"],
treechildren::-moz-tree-cell-text(disabled),
#session_list listitem[session_loaded="true"] {
	color: gray;
}


/* Invalid items are red */
#text_box[badname="true"],
#autosave_time[badname="true"],
#group_menu_list input[class="menulist-editable-input"][badname="true"] {
	color: red;
}

/* Center labels in Session Prompt window */
label[class="textbox_label"] {
	margin-top: 5px !important;
}

/* Window and Tab tree */
treechildren::-moz-tree-image(icon),
treechildren::-moz-tree-image(noicon) {
  padding-right: 2px;
  margin: 0px 2px;
  width: 16px;
  height: 16px;
}

treechildren::-moz-tree-image(noicon) {
  list-style-image: url("chrome://sessionmanager/skin/defaultFavicon.png");
}

treechildren::-moz-tree-image(container, noicon) {
  list-style-image: url("chrome://sessionmanager/skin/folder-item.png");
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

treechildren::-moz-tree-image(container, noicon, open) {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

treechildren::-moz-tree-checkbox(checked) {
  list-style-image: url("chrome://sessionmanager/skin/cbox-check.gif");
}

treechildren::-moz-tree-checkbox(partial) {
  list-style-image: url("chrome://sessionmanager/skin/cbox-check-dis.gif");
}
