#sessionmanager-menu menuitem[_id="windows"],
#sessionmanager-toolbar menuitem[_id="windows"],
#sessionmanager-undo menuitem[_id="windows"],
#sessionmanager-menu menuitem[_id="tabs"],
#sessionmanager-toolbar menuitem[_id="tabs"],
#sessionmanager-undo menuitem[_id="tabs"] {
	font-size: 80%;
}

#sessionmanager-menu menuitem[marked="true"],
#sessionmanager-toolbar menuitem[marked="true"] {
	font-weight: bold;
}

#sessionmanager-toolbar,
#sessionmanager-undo {
	list-style-image: url("chrome://sessionmanager/skin/toolbar.png");
}

#sessionmanager-toolbar {
	-moz-image-region: rect(0px, 24px, 24px, 0px);
}
#sessionmanager-undo {
	-moz-image-region: rect(0px, 48px, 24px, 24px);
}
#sessionmanager-undo[disabled="true"] {
	-moz-image-region: rect(0px, 72px, 24px, 48px);
}

toolbar[iconsize="small"] #sessionmanager-toolbar {
	-moz-image-region: rect(24px, 16px, 40px, 0px);
}
toolbar[iconsize="small"] #sessionmanager-undo {
	-moz-image-region: rect(24px, 40px, 40px, 24px);
}
toolbar[iconsize="small"] #sessionmanager-undo[disabled="true"] {
	-moz-image-region: rect(24px, 64px, 40px, 48px);
}

#sessionmanager-toolbar {
	list-style-image: url("chrome://sessionmanager/skin/dougeeebear.png");
	-moz-image-region: rect(8px, 56px, 32px, 32px);
}
toolbar[iconsize="small"] #sessionmanager-toolbar {
	-moz-image-region: rect(15px, 72px, 31px, 56px);
}

/* Make closed tabs have icons, but not display entire graphic for images */
.sessionmanager-closedtab-item > .menu-iconic-left > .menu-iconic-icon {
  width: 16px;
  height: 16px;
  -moz-padding-start: 0px;
}

/* Latest session is blue */
#sessionmanager-menu menuitem[latest="true"],
#sessionmanager-toolbar menuitem[latest="true"],
#session_list listitem[latest="true"] {
	color: blue;
}

/* Adjust to light blue when highlited */
#sessionmanager-menu menuitem[latest="true"][_moz-menuactive="true"],
#sessionmanager-toolbar menuitem[latest="true"][_moz-menuactive="true"],
#session_list:focus listitem[latest="true"][selected="true"] {
	color: lightblue;
}

/* Autosave sessions are bold */
#sessionmanager-menu menuitem[autosave="session"],
#sessionmanager-toolbar menuitem[autosave="session"],
#session_list listitem[autosave="session"] {
	font-weight: bold;
}

/* Window Autosave sessions are bold green */
#sessionmanager-menu menuitem[autosave="window"],
#sessionmanager-toolbar menuitem[autosave="window"],
#session_list listitem[autosave="window"] {
	font-weight: bold;
	font-style: oblique;
}

/* Disabled sessions are gray */
#sessionmanager-menu menuitem[disabled="true"],
#sessionmanager-toolbar menuitem[disabled="true"],
#session_list listitem[session_loaded="true"] {
	color: gray;
}