/*
	This file is here because it needs to be for modern theme

	icons should be 29x29 for large, 19x19 for small icons 
	ours are 24x24 for large and 16x16 for small, which isn't great, 
	but looks better than scaling it to correct size
*/