/* For modern theme margin-top needs to be 7px for non-small.  That or use a different png file.  */

#sessionmanager-undo {
	list-style-image: url("chrome://sessionmanager/skin/sm_toolbar.png");
}
#sessionmanager-undo {
	-moz-image-region: rect(-1px, 61px, 31px, 29px);
	margin-top: 7px;
}
toolbar[iconsize="small"] #sessionmanager-undo {
	-moz-image-region: rect(30px, 50px, 50px, 30px);
	margin-top: 0px;
}

#sessionmanager-toolbar {
	-moz-image-region: rect(0px, 32px, 32px, 0px);
	margin-top: 7px;
}
toolbar[iconsize="small"] #sessionmanager-toolbar {
	-moz-image-region: rect(13px, 75px, 33px, 55px);
	margin-top: 0px;
}
